@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/Avenir-400.otf);
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/Avenir-500.otf);
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/Avenir-800.otf);
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/Avenir-900.otf);
  font-display: swap;
  font-weight: 900;
}

@font-face {
  font-family: "Helvetica";
  src: url(../assets/fonts/Helvetica-400.otf);
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica";
  src: url(../assets/fonts/Helvetica-700.otf);
  font-display: swap;
  font-weight: 700;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  font-style: normal;
  line-height: inherit;
}

li,
ol,
ul {
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.section-three__feature-paragraph {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.navigation__links li, .hero__paragraph, .section-two__paragraph, .section-three__paragraph {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.navigation li.navigation__links_active, .navigation__button, .hero__button, .section-three__feature-button {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.section-three__feature-title {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.hero__title, .section-two__title, .section-three__title, .section-four__title {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@media (min-width: 1400px) {
  html {
    padding-left: 120px;
  }
}

@media (min-width: 1600px) {
  html {
    padding-left: 240px;
  }
}

body {
  height: 4350px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6fafd), color-stop(19.4%, #fff));
  background: linear-gradient(180deg, #f6fafd 0%, #fff 19.4%);
  overflow-x: hidden;
  position: relative;
  border: 3px solid blue;
}

@media (min-width: 1400px) {
  body {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.section-one {
  background: #dbdbdb;
  margin-top: 47px;
  margin-bottom: 102.18px;
}

@media (min-width: 1400px) {
  .section-one {
    width: 1248px;
    margin-top: 47px;
    margin-bottom: 202.18px;
  }
}

.navigation {
  width: 100%;
  height: 60px;
  padding-left: 12px;
  padding-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
  background: #ffb4b4;
}

@media (min-width: 1400px) {
  .navigation {
    width: 1120px;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
  }
}

.navigation__block1 {
  margin-right: 121px;
}

.navigation__block2 {
  display: none;
}

@media (min-width: 768px) {
  .navigation__block2 {
    display: block;
  }
}

.navigation__block3 {
  margin-left: auto;
}

.navigation__block3 > .navigation__button {
  display: none;
}

@media (min-width: 768px) {
  .navigation__block3 > .navigation__button {
    display: block;
  }
}

.navigation__block3 > .navigation__trigger {
  display: block;
}

@media (min-width: 768px) {
  .navigation__block3 > .navigation__trigger {
    display: none;
  }
}

.navigation__logo {
  width: 49px;
  height: 35px;
}

.navigation__links li {
  cursor: pointer;
  display: inline-block;
  margin-right: 40px;
  color: #4b5d68;
  font-size: 16px;
  line-height: 160%;
}

.navigation li.navigation__links_active {
  color: #212353;
}

.navigation__links li:nth-of-type(4) {
  margin-right: 0px;
}

.navigation__button {
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: #fff;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 17px 29px;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
}

.navigation__icon {
  width: 20px;
  height: 14px;
  vertical-align: middle;
  margin-left: 20px;
}

.navigation__trigger {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: block;
  background: #fff url(../assets/img/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.hero {
  position: relative;
}

.hero__title {
  color: #212353;
  font-size: 50px;
  line-height: 110%;
  margin-left: 12px;
  margin-bottom: 30px;
  max-width: 65%;
}

@media (min-width: 768px) {
  .hero__title {
    max-width: 60%;
    font-size: 80px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1400px) {
  .hero__title {
    max-width: 100%;
    margin-left: 0;
  }
}

.hero__paragraph {
  color: #4b5d68;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 30px;
  margin-left: 12px;
  max-width: 50%;
}

@media (min-width: 768px) {
  .hero__paragraph {
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 50px;
  }
}

@media (min-width: 1400px) {
  .hero__paragraph {
    width: 380px;
    margin-left: 0px;
    max-width: 100%;
  }
}

.hero__button {
  color: #fff;
  background: #9c69e2;
  padding: 12px 30px;
  border-radius: 50px;
  font-size: 14px;
  line-height: 130%;
  display: inline-block;
  margin-left: 12px;
}

@media (min-width: 768px) {
  .hero__button {
    font-size: 18px;
    line-height: 160%;
    padding: 16px 37px;
  }
}

@media (min-width: 1400px) {
  .hero__button {
    margin-left: 0;
  }
}

.hero .content {
  background: #53d5da;
  margin-bottom: 50px;
}

@media (min-width: 1400px) {
  .hero .content {
    width: 645px;
    margin-bottom: 0;
  }
}

.hero .image {
  text-align: center;
}

.hero__image {
  max-width: 75%;
}

@media (min-width: 1400px) {
  .hero__image {
    width: 885px;
    max-width: 100%;
    position: absolute;
    top: 100px;
    right: 0;
  }
}

.section-two {
  max-width: 80%;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  margin-bottom: 150px;
}

@media (min-width: 1200px) {
  .section-two {
    margin: 0;
    margin-bottom: 150px;
    max-width: 1117px;
    height: 560px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
}

.section-two .image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
}

@media (min-width: 1200px) {
  .section-two .image {
    margin-right: 62px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.section-two__image {
  max-width: 75%;
}

@media (min-width: 992px) {
  .section-two__image {
    width: 477px;
    max-width: 100%;
  }
}

.section-two .content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .section-two .content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.section-two__title {
  color: #212353;
  font-size: 28px;
  line-height: 110%;
  margin-bottom: 30px;
  max-width: 70%;
}

@media (min-width: 768px) {
  .section-two__title {
    max-width: 475px;
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 40px;
  }
}

.section-two__paragraph {
  color: #4b5d68;
  font-size: 14px;
  line-height: 130%;
  max-width: 70%;
}

@media (min-width: 768px) {
  .section-two__paragraph {
    max-width: 469px;
    font-size: 18px;
    line-height: 160%;
  }
}

.section-three {
  max-width: 90%;
  margin: 0 auto;
  padding: 30px;
  background: #f1f1f1;
  margin-bottom: 150px;
}

@media (min-width: 1200px) {
  .section-three {
    max-width: 1137.28px;
    height: 1026px;
    margin: 0;
    margin-bottom: 150px;
    padding: 50px;
  }
}

.section-three .content {
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .section-three .content {
    margin-bottom: 100px;
  }
}

.section-three__title {
  color: #212353;
  font-size: 28px;
  line-height: 110%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .section-three__title {
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 50px;
  }
}

.section-three__paragraph {
  color: #4b5d68;
  font-size: 14px;
  line-height: 130%;
  max-width: 360px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .section-three__paragraph {
    font-size: 18px;
    line-height: 160%;
    max-width: 584px;
    padding: 0;
  }
}

.section-three .features {
  background: rgba(156, 156, 156, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .section-three .features {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section-three__feature {
  height: auto;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 33px;
  padding-right: 37.5px;
  padding-top: 25px;
  padding-left: 64.5px;
}

@media (min-width: 768px) {
  .section-three__feature {
    width: 442px;
    height: 358px;
    padding-bottom: 0px;
    padding-right: 50px;
    padding-left: 172px;
    padding-top: 49px;
  }
}

.section-three__feature:nth-of-type(1) {
  background: url(../assets/img/section-3-rect-green.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

@media (min-width: 1200px) {
  .section-three__feature:nth-of-type(1) {
    margin-bottom: 50px;
    margin-left: 50px;
    border-radius: 0;
  }
}

.section-three__feature:nth-of-type(2) {
  background: url(../assets/img/section-3-rect-purple.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

@media (min-width: 1200px) {
  .section-three__feature:nth-of-type(2) {
    margin-bottom: 50px;
    border-radius: 0;
  }
}

.section-three__feature:nth-of-type(3) {
  background: url(../assets/img/section-3-rect-pink.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

@media (min-width: 1200px) {
  .section-three__feature:nth-of-type(3) {
    border-radius: 0;
    margin-left: 50px;
  }
}

.section-three__feature:nth-of-type(4) {
  background: url(../assets/img/section-3-rect-blue.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

@media (min-width: 1200px) {
  .section-three__feature:nth-of-type(4) {
    border-radius: 0;
  }
}

.section-three__feature-title {
  color: #212353;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .section-three__feature-title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 20px;
  }
}

.section-three__feature-paragraph {
  color: #4b5d68;
  font-size: 12px;
  line-height: 130%;
  margin-bottom: 14px;
  width: 80%;
}

@media (min-width: 768px) {
  .section-three__feature-paragraph {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 20px;
  }
}

.section-three__feature-button {
  color: #212353;
  font-size: 12px;
  line-height: 130%;
}

@media (min-width: 768px) {
  .section-three__feature-button {
    position: absolute;
    bottom: 33px;
    font-size: 16px;
    line-height: 160%;
  }
}

.section-three__feature-icon {
  width: 15px;
  height: 10.5px;
  vertical-align: middle;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .section-three__feature-icon {
    width: 20px;
    height: 14px;
    margin-left: 20px;
  }
}

.section-three__feature-image {
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .section-three__feature-image {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .section-three__feature-image {
    position: absolute;
    top: 50%;
    left: -80px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin-bottom: 0;
    display: inline;
  }
}

.section-four {
  width: 1118px;
  height: 709px;
  border-radius: 50px;
  background: #9c69e2;
  padding-top: 109px;
  padding-left: 93px;
}

.section-four__title {
  font-size: 40px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 88px;
}

.section-four__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  height: 350px;
}

.section-four__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 645px;
  height: 330px;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 0px #8a56db;
          box-shadow: 0px 20px 0px #8a56db;
  border-radius: 20px;
  margin-right: 20px;
}

.section-four__card:nth-of-type(2) {
  -webkit-box-shadow: 0px 20px 0px #9663e0;
          box-shadow: 0px 20px 0px #9663e0;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#9c69e2));
  background: linear-gradient(90deg, #fff 0%, #9c69e2 100%);
}

.section-five {
  width: 1600px;
  height: 613px;
  background: #dbdbdb;
}
/*# sourceMappingURL=style.css.map */