@import "variables";

%avenir-400 {
  font-family: $stack-avenir;
  font-weight: 400;
}
%avenir-500 {
  font-family: $stack-avenir;
  font-weight: 500;
}
%avenir-800 {
  font-family: $stack-avenir;
  font-weight: 800;
}
%avenir-900 {
  font-family: $stack-avenir;
  font-weight: 900;
}
%helvetica-400 {
  font-family: $stack-helvetica;
  font-weight: 400;
}
%helvetica-700 {
  font-family: $stack-helvetica;
  font-weight: 700;
}
