@import "variables";

body {
  height: $body-height;
  background: linear-gradient(180deg, $body-grey 0%, $white 19.4%);
  overflow-x: hidden;
  position: relative;
  @media ($xxl) {
    max-width: $body-width;
    margin: 0 auto;
  }
}

.section-one {
  // position: absolute;
  // height: 754px;
  // left: 240px;
  // top: 47px;
  background: rgb(219, 219, 219);
  margin-top: 47px;
  @media ($xxl) {
    width: 1248px;
    margin: 0 auto;
    margin-top: 47px;
  }
}

.navigation {
  width: 100%;
  height: 60px;
  padding-left: $indent;
  padding-right: $indent;
  display: flex;
  align-items: center;
  margin-bottom: 130px;
  background: rgb(255, 180, 180);
  @media ($xxl) {
    width: 1120px;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
  }
  &__block1 {
    margin-right: 121px;
  }
  &__block3 {
    margin-left: auto;
  }
  &__logo {
    width: 49px;
    height: 35px;
  }
  &__links li {
    cursor: pointer;
    display: inline-block;
    margin-right: 40px;
    color: $text-grey;
    @extend %avenir-500;
    font-size: 16px;
    line-height: 160%;
  }
  li.navigation__links_active {
    @extend %avenir-800;
    color: $text-blue;
  }

  &__links li:nth-of-type(4) {
    margin-right: 0px;
  }

  &__button {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: $white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    padding: 17px 29px;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: $text-blue;
    @extend %avenir-800;
  }
  &__icon {
    width: 20px;
    height: 14px;
    vertical-align: middle;
    margin-left: 20px;
  }
}

.hero {
  position: relative;
  &__title {
    color: $text-blue;
    font-size: 80px;
    line-height: 110%;
    @extend %helvetica-700;
    margin-left: $indent;
    margin-bottom: 50px;
    max-width: 75%;
    @media ($md) {
      max-width: 60%;
    }
    @media ($xxl) {
      max-width: 100%;
      margin-left: 0;
    }
  }
  &__paragraph {
    color: $text-grey;
    font-size: 18px;
    line-height: 160%;
    @extend %avenir-500;
    margin-bottom: 50px;
    margin-left: $indent;
    max-width: 50%;
    @media ($xxl) {
      width: 380px;
      margin-left: 0px;
      max-width: 100%;
    }
  }
  &__button {
    color: $white;
    background: $purple;
    padding: 16px 37px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 160%;
    display: inline-block;
    margin-left: $indent;
    @extend %avenir-800;
    @media ($xxl) {
      margin-left: 0;
    }
  }
  & .content {
    background: rgb(83, 213, 218);
    margin-bottom: 50px;
    @media ($xxl) {
      width: 645px;
      margin-bottom: 0;
    }
  }

  & .image {
    text-align: center;
  }

  &__image {
    max-width: 75%;
    @media ($xxl) {
      width: 885px;
      max-width: 100%;
      position: absolute;
      top: 100px;
      right: 0;
    }
  }
}

.section-two {
  position: absolute;
  width: 1117px;
  height: 560px;
  left: 240px;
  top: 903.18px;
  background: rgb(219, 219, 219);
}

.section-three {
  position: absolute;
  width: 1137.28px;
  height: 1026px;
  left: 220px;
  top: 1613px;
  background: rgb(219, 219, 219);
}
.section-four {
  position: absolute;
  width: 1118px;
  height: 709px;
  left: 242px;
  top: 2789px;
  background: rgb(219, 219, 219);
}

.section-five {
  position: absolute;
  width: 1600px;
  height: 613px;
  left: 0px;
  top: 3648px;
  background: rgb(219, 219, 219);
}
