@import "variables";

html {
  @media ($xxl) {
    padding-left: 160px;
  }
}

body {
  height: auto;
  background: linear-gradient(180deg, $body-grey 0%, $white 19.4%);
  overflow-x: hidden;
  position: relative;
  // border: 3px solid blue;
  @media ($xxl) {
    max-width: $body-width;
    height: $body-height;
    margin: 0 auto;
  }
}

.section-one {
  // background: rgb(219, 219, 219);
  margin-top: 47px;
  margin-bottom: 102.18px;
  @media ($xxl) {
    width: 1248px;
    margin-top: 47px;
    margin-bottom: 207.18px;
  }
}

.navigation {
  width: 100%;
  height: 60px;
  padding-left: $indent;
  padding-right: $indent;
  display: flex;
  align-items: center;
  margin-bottom: 65px;
  @media ($md) {
    margin-bottom: 130px;
  }
  @media ($xxl) {
    width: 1120px;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
  }
  &__block1 {
    margin-right: 118px;
  }
  &__block2 {
    display: none;
    @media ($md) {
      display: block;
      position: relative;
      // left: -7px;
    }
  }

  &__block3 {
    margin-left: auto;
  }

  &__block3 > .navigation__button {
    display: none;
    @media ($md) {
      display: block;
    }
  }
  &__block3 > .navigation__trigger {
    display: block;
    @media ($md) {
      display: none;
    }
  }
  &__logo {
    width: calc(49px * 1.1);
    height: calc(35px * 1.1);
    cursor: pointer;
  }
  &__links li {
    cursor: pointer;
    display: inline-block;
    margin-right: 40px;
    color: $text-grey;
    @extend %avenir-500;
    font-size: 16px;
    line-height: 160%;
  }
  li.navigation__links_active {
    @extend %avenir-800;
    color: $text-blue;
  }

  &__links li:nth-of-type(4) {
    margin-right: 0px;
  }

  &__button {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: $white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    padding: 17px 29px;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: $text-blue;
    @extend %avenir-800;
  }
  &__button:hover {
    color: $text-blue;
  }
  &__icon {
    width: 20px;
    height: 14px;
    vertical-align: middle;
    margin-left: 20px;
  }
  &__trigger {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    display: block;
    background: $white url(../assets/img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
}

.hero {
  position: relative;
  top: 3.5px;
  &__title {
    color: $text-blue;
    font-size: 50px;
    line-height: 110%;
    @extend %helvetica-700;
    margin-left: $indent;
    margin-bottom: 30px;
    max-width: 65%;
    @media ($md) {
      max-width: 60%;
      font-size: 80px;
      margin-bottom: 55px;
    }
    @media ($xxl) {
      max-width: 100%;
      margin-left: 0;
    }
  }
  &__paragraph {
    color: $text-grey;
    font-size: 14px;
    line-height: 130%;
    @extend %avenir-500;
    margin-bottom: 30px;
    margin-left: $indent;
    max-width: 50%;
    @media ($md) {
      font-size: 18px;
      line-height: 160%;
      margin-bottom: 54px;
    }
    @media ($xxl) {
      width: 380px;
      margin-left: 0px;
      max-width: 100%;
      position: relative;
      left: 4px;
    }
  }
  &__button {
    color: $white;
    background: $purple;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 14px;
    line-height: 130%;
    display: inline-block;
    margin-left: $indent;
    @extend %avenir-800;
    @media ($md) {
      font-size: 18px;
      line-height: 160%;
      padding: 16px 37px;
    }
    @media ($xxl) {
      margin-left: 0;
      position: relative;
      left: 2px;
    }
  }
  &__button:hover {
    color: $white;
  }
  & .content {
    // background: rgb(83, 213, 218);
    margin-bottom: 50px;
    @media ($xxl) {
      width: 645px;
      margin-bottom: 0;
    }
  }

  & .image {
    text-align: center;
  }

  &__image {
    max-width: 75%;
    @media ($xxl) {
      width: 885px;
      max-width: 100%;
      position: absolute;
      top: 94px;
      right: 0;
    }
  }
}

.section-two {
  max-width: 80%;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin-bottom: 100px;
  @media ($xl) {
    margin: 0;
    margin-bottom: 100px;
    max-width: 1117px;
    height: 560px;
    flex-direction: row;
    padding: 0;
  }

  .image {
    order: 2;
    text-align: center;
    @media ($xl) {
      margin-right: 74px;
      order: 1;
    }
  }

  &__image {
    // background: rgb(207, 207, 207);
    max-width: 75%;
    @media ($lg) {
      width: 477px;
      max-width: 100%;
      position: relative;
      top: 5px;
      left: 15px;
    }
  }

  .content {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media ($xl) {
      order: 2;
    }
  }

  &__title {
    color: $text-blue;
    @extend %helvetica-700;
    font-size: 28px;
    line-height: 110%;
    margin-bottom: 30px;
    max-width: 70%;
    @media ($md) {
      max-width: 475px;
      font-size: 40px;
      line-height: 130%;
      margin-bottom: 40px;
    }
  }
  &__paragraph {
    color: $text-grey;
    @extend %avenir-500;
    font-size: 14px;
    line-height: 130%;
    max-width: 70%;
    @media ($md) {
      max-width: 469px;
      font-size: 18px;
      line-height: 160%;
    }
  }
}

.section-three {
  max-width: 90%;
  margin: 0 auto;
  padding: 30px;
  // background: rgb(241, 241, 241);
  margin-bottom: 150px;
  @media ($xl) {
    max-width: 1175px;
    height: 1026px;
    margin: 0;
    margin-bottom: 199px;
    padding: 50px;
  }
  //////////////////////
  .content {
    text-align: center;
    margin-bottom: 50px;
    @media ($md) {
      margin-bottom: 108px;
    }
  }
  &__title {
    color: $text-blue;
    @extend %helvetica-700;
    font-size: 28px;
    line-height: 110%;
    margin-bottom: 30px;
    @media ($md) {
      font-size: 40px;
      line-height: 130%;
      margin-bottom: 50px;
      padding-right: 60px;
    }
  }
  &__paragraph {
    color: $text-grey;
    @extend %avenir-500;
    font-size: 14px;
    line-height: 130%;
    max-width: 360px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    @media ($md) {
      font-size: 18px;
      line-height: 160%;
      max-width: 584px;
      padding: 0;
      position: relative;
      left: -25px;
    }
  }

  .features {
    // background: rgba(156, 156, 156, 0.25);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    @media ($xl) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__feature {
    height: auto;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 33px;
    padding-right: 37.5px;
    padding-top: 25px;
    padding-left: 64.5px;

    @media ($md) {
      width: 442px;
      height: 358px;
      padding-bottom: 0px;
      padding-right: 30px;
      padding-left: 160px;
      padding-top: 49px;
    }
  }

  &__feature:nth-of-type(1) {
    background: url(../assets/img/section-3-rect-green.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    @media ($xl) {
      margin-bottom: 50px;
      margin-left: 50px;
      border-radius: 0;
    }
  }
  &__feature:nth-of-type(2) {
    background: url(../assets/img/section-3-rect-purple.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    @media ($xl) {
      margin-bottom: 50px;
      border-radius: 0;
    }
  }
  &__feature:nth-of-type(3) {
    background: url(../assets/img/section-3-rect-pink.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    @media ($xl) {
      border-radius: 0;
      margin-left: 50px;
    }
  }
  &__feature:nth-of-type(4) {
    background: url(../assets/img/section-3-rect-blue.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    @media ($xl) {
      border-radius: 0;
    }
  }
  &__feature-title {
    color: $text-blue;
    font-size: 16px;
    line-height: 100%;
    @extend %helvetica-400;
    margin-bottom: 14px;
    @media ($md) {
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 30.22px;
    }
  }
  &__feature-paragraph {
    color: $text-grey;
    @extend %avenir-400;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 14px;
    width: 80%;
    @media ($md) {
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 20px;
    }
  }

  &__feature-button {
    color: $text-blue;
    font-size: 12px;
    line-height: 130%;
    @extend %avenir-800;
    @media ($md) {
      position: absolute;
      bottom: 41px;
      font-size: 16px;
      line-height: 160%;
    }
  }
  &__feature-button:hover {
    color: $text-blue;
  }

  &__feature-icon {
    width: 15px;
    height: 10.5px;
    vertical-align: middle;
    margin-left: 10px;
    @media ($md) {
      width: 20px;
      height: 14px;
      margin-left: 20px;
    }
  }
  &__feature-image {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    @media ($sm) {
      width: 55%;
    }
    @media ($md) {
      position: absolute;
      top: 40%;
      left: -80px;
      transform: translate(0, -40%);
      margin-bottom: 0;
      display: inline;
    }
  }

  &__feature:nth-of-type(1) &__feature-image {
    @media ($md) {
      top: 35%;
      left: -110px;
      transform: translate(0, -35%);
    }
  }
  &__feature:nth-of-type(2) &__feature-image {
    @media ($md) {
      top: 40%;
      left: -95px;
      transform: translate(0, -40%);
      width: 50%;
    }
  }
  &__feature:nth-of-type(3) &__feature-image {
    @media ($md) {
      top: 65%;
      left: -100px;
      transform: translate(0, -65%);
      width: 50%;
    }
  }
  &__feature:nth-of-type(4) &__feature-image {
    @media ($md) {
      top: 43%;
      left: -100px;
      transform: translate(0, -43%);
      width: 50%;
    }
  }
}
///////////////////////////////////////
.section-four {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 150px;
  border-radius: 50px;
  background: $purple;
  padding-top: 55px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 55px;
  @media ($lg) {
    max-width: 1118px;
    height: 709px;
    margin: 0;
    margin-bottom: 150px;
    padding-left: 93px;
    padding-top: 109px;
    padding-right: 0;
    padding-bottom: 0;
  }

  &__title {
    font-size: 28px;
    line-height: 100%;
    color: $white;
    @extend %helvetica-700;
    margin-bottom: 44px;
    @media ($lg) {
      margin-bottom: 88px;
      font-size: 40px;
      line-height: 130%;
    }
  }
  .cards {
    display: flex;
    margin-bottom: 38px;
    @media ($lg) {
      overflow-x: hidden;
      height: 350px;
    }
  }
  &__card {
    background: #ffffff;
    box-shadow: 0px 20px 0px rgba(138, 86, 219, 1);
    border-radius: 20px;
    padding: 45px 52.5px 37.5px 52.5px;
    display: block;
    @media ($lg) {
      flex: 0 0 auto;
      display: flex;
      padding: 60px 70px 50px 70px;
    }
  }

  &__card:nth-of-type(1) {
    margin-right: 0;
    @media ($lg) {
      max-width: 645px;
      height: 330px;
      margin: 0;
      margin-right: 20px;
    }
  }

  &__card:nth-of-type(2) {
    box-shadow: 0px 20px 0px rgba(150, 99, 224, 1);
    background: linear-gradient(90deg, $white 0%, $purple 100%);
    width: 400px;
    height: 330px;
    padding-right: 0;
    display: none;
    @media ($lg) {
      display: flex;
      padding-left: 40px;
      padding-top: 54px;
    }
  }

  &__card:nth-of-type(2) p {
    width: 180px;
    height: 130px;
  }

  .image {
    // background: rgb(190, 190, 190);
    margin-right: 30px;
  }
  &__image {
    max-width: 90px;
  }
  .content {
    // background: rgb(223, 223, 223);
    margin-top: 20px;
  }
  &__client {
    font-size: 18px;
    line-height: 160%;
    color: $text-blue;
    @extend %avenir-800;
    letter-spacing: 0.005em;
  }
  &__website {
    font-size: 14px;
    line-height: 160%;
    color: $purple;
    @extend %avenir-500;
    letter-spacing: 0.01em;
    margin-bottom: 19px;
  }
  &__paragraph {
    font-size: 18px;
    line-height: 180%;
    color: $text-grey;
    @extend %avenir-400;
    letter-spacing: 0.01em;
  }
  .nav {
    // background: rgb(206, 206, 206);
    width: 100%;
    height: 14px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    @media ($lg) {
      padding-right: 76px;
    }
  }
  .dots {
    display: flex;
    height: 100%;
    align-items: center;
    // background: rgb(255, 213, 213);
  }
  .dots:hover {
    cursor: pointer;
  }
  &__nav-dot {
    background: $white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__nav-dot:last-of-type {
    margin-right: 0;
  }
  &__nav-dot--active {
    width: 10px;
    height: 10px;
    background: $pink;
  }

  &__nav-long-arrow {
    width: 40px;
    height: 14px;
    margin-right: 20px;
    vertical-align: top;
  }
  &__nav-short-arrow {
    width: 20px;
    height: 14px;
    vertical-align: top;
  }

  &__nav-long-arrow,
  &__nav-short-arrow {
    cursor: pointer;
  }
}

.section-five {
  max-width: 90%;
  margin: 0 auto;
  // background: rgb(219, 219, 219);
  padding-right: 0;
  padding-bottom: 89px;
  @media ($xxl) {
    // padding-right: 230px;
    padding-top: 103px;
    width: 100%;
    height: 613px;
    margin: 0;
  }

  .pre-footer {
    display: block;
    // background: rgb(253, 215, 215);
    margin-bottom: 51px;
    @media ($md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 102px;
    }
    @media ($xxl) {
      padding-left: 0;
      width: 1118.2px;
    }
    @media ($xxxl) {
    }
  }

  .content {
    // background: rgb(255, 234, 234);
    margin-bottom: 40px;
    @media ($md) {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 100%;
    color: $text-blue;
    @extend %helvetica-700;
    margin-bottom: 12px;
    @media ($lg) {
      font-size: 40px;
      line-height: 130%;
      margin-bottom: 17px;
    }
  }
  &__paragraph {
    font-size: 14px;
    line-height: 130%;
    color: $text-grey;
    @extend %avenir-500;
    @media ($lg) {
      font-size: 18px;
      line-height: 160%;
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: $white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    padding: 17px 29px;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: $text-blue;
    @extend %avenir-800;
    display: inline-block;
  }
  &__button:hover {
    color: $text-blue;
  }
  &__button:nth-of-type(1) {
    background: $pink;
    color: $white;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 17px 40px;

    @media ($sm) {
      margin-bottom: 0;
    }
  }

  .footer {
    // background: #dffffc;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    @media ($lg) {
      justify-content: left;
    }
    @media ($xxl) {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 1118.2px;
      height: 311.2px;
      margin: 0;
    }

    .block_1 {
      width: 80%;
      margin-right: 0;
      margin-bottom: 40px;
      order: 3;
      text-align: center;
      @media ($lg) {
        order: 1;
        width: auto;
        margin-right: 80px;
        margin-bottom: 0;
        text-align: left;
      }
      @media ($xxl) {
        margin-right: 233px;
      }
    }
    .logo {
      // background: rgb(214, 255, 225);
      display: flex;
      align-items: center;
      margin-bottom: 60px;
      justify-content: center;
      cursor: pointer;
      @media ($lg) {
        justify-content: left;
      }
    }

    &__logo {
      width: calc(49px * 1.1);
      height: calc(35px * 1.1);
      margin-right: 20px;
      // background: rgb(211, 211, 211);
    }
    &__logo-title {
      font-size: 20px;
      line-height: 160%;
      color: $text-blue;
      @extend %avenir-800;
      // background: rgb(255, 228, 228);
    }

    .address {
      margin-bottom: 17px;
    }

    &__address {
      font-size: 16px;
      line-height: 180%;
      color: $text-blue;
      @extend %avenir-500;
      letter-spacing: 0.01em;
    }

    &__email,
    &__phone {
      font-size: 16px;
      line-height: 180%;
      color: $text-blue;
      @extend %avenir-400;
      letter-spacing: 0.01em;
    }
    .block_2 {
      width: 140px;
      margin-bottom: 40px;
      order: 1;
      text-align: center;

      @media ($lg) {
        order: 2;
        margin-right: 30px;
        margin-bottom: 0;
      }
      @media ($xxl) {
        margin-right: 145px;
        padding-top: 10px;
        width: auto;
        text-align: left;
      }
      &__link:first-of-type:hover {
        cursor: initial;
      }
    }
    .block_3 {
      width: 140px;
      margin-bottom: 40px;
      order: 2;
      text-align: center;

      @media ($lg) {
        order: 3;
        margin-right: 30px;
        margin-bottom: 0;
      }
      @media ($xxl) {
        margin-right: 158px;
        padding-top: 10px;
        width: auto;
        text-align: left;
      }
    }
    &__link {
      font-size: 16px;
      line-height: 250%;
      color: $text-blue;
      @extend %avenir-400;
    }
    &__link:hover {
      cursor: pointer;
    }
    &__link:first-of-type {
      font-size: 16px;
      line-height: 160%;
      color: $text-blue;
      @extend %avenir-900;
      margin-bottom: 34px;
    }
    &__link:first-of-type:hover {
      cursor: initial;
    }
    .block_4 {
      order: 4;
      width: 80%;
      text-align: center;
      @media ($lg) {
        order: 4;
        width: auto;
        text-align: left;
      }
      @media ($xxl) {
        padding-top: 10px;
      }
    }
    &__sm {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #e9e9ee;
      display: inline-block;
      margin-right: 14px;
    }
    &__sm {
      cursor: pointer;
    }
    &__sm:last-of-type {
      margin-right: 0;
    }
  }
}
