@import "variables";

body {
  max-width: $body-width;
  height: $body-height;
  background: linear-gradient(180deg, $body-grey 0%, $white 19.4%);
  overflow-x: hidden;
  position: relative;
}

.section-one {
  position: absolute;
  width: 1248px;
  height: 754px;
  left: 240px;
  top: 47px;
  background: rgb(219, 219, 219);
}

.navigation {
  width: 1120px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navigation__logo {
    width: 49px;
    height: 35px;
  }
  .navigation__links li {
    cursor: pointer;
    display: inline-block;
    margin-right: 40px;
    color: $text-grey;
    @extend %avenir-500;
    font-size: 16px;
    line-height: 160%;
  }
  li.navigation__links_active {
    @extend %avenir-800;
    color: $text-blue;
  }

  .navigation__links li:nth-of-type(4) {
    margin-right: 0px;
  }

  .navigation__button {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: $white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    padding: 17px 29px;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: $text-blue;
    @extend %avenir-800;
  }
  .navigation__icon {
    width: 20px;
    height: 14px;
    vertical-align: middle;
    margin-left: 20px;
  }
}

.section-two {
  position: absolute;
  width: 1117px;
  height: 560px;
  left: 240px;
  top: 903.18px;
  background: rgb(219, 219, 219);
}

.section-three {
  position: absolute;
  width: 1137.28px;
  height: 1026px;
  left: 220px;
  top: 1613px;
  background: rgb(219, 219, 219);
}
.section-four {
  position: absolute;
  width: 1118px;
  height: 709px;
  left: 242px;
  top: 2789px;
  background: rgb(219, 219, 219);
}

.section-five {
  position: absolute;
  width: 1600px;
  height: 613px;
  left: 0px;
  top: 3648px;
  background: rgb(219, 219, 219);
}
