@import "variables";

body {
  max-width: $body-width;
  height: $body-height;
  background: linear-gradient(180deg, $body-grey 0%, $white 19.4%);
  overflow-x: hidden;
  position: relative;
}

.section-one {
  position: absolute;
  width: 1248px;
  height: 754px;
  left: 240px;
  top: 47px;
  background: rgb(219, 219, 219);
}

.section-two {
  position: absolute;
  width: 1117px;
  height: 560px;
  left: 240px;
  top: 903.18px;
  background: rgb(219, 219, 219);
}

.section-three {
  position: absolute;
  width: 1137.28px;
  height: 1026px;
  left: 220px;
  top: 1613px;
  background: rgb(219, 219, 219);
}
.section-four {
  position: absolute;
  width: 1118px;
  height: 709px;
  left: 242px;
  top: 2789px;
  background: rgb(219, 219, 219);
}

.section-five {
  position: absolute;
  width: 1600px;
  height: 613px;
  left: 0px;
  top: 3648px;
  background: rgb(219, 219, 219);
}
