@import "variables";

html {
  @media ($xxl) {
    padding-left: 120px;
  }
  @media ($xxxl) {
    padding-left: 240px;
  }
}

body {
  height: $body-height;
  background: linear-gradient(180deg, $body-grey 0%, $white 19.4%);
  overflow-x: hidden;
  position: relative;
  border: 3px solid blue;
  @media ($xxl) {
    max-width: $body-width;
    margin: 0 auto;
  }
}

.section-one {
  background: rgb(219, 219, 219);
  margin-top: 47px;
  margin-bottom: 102.18px;
  @media ($xxl) {
    width: 1248px;
    margin-top: 47px;
    margin-bottom: 202.18px;
  }
}

.navigation {
  width: 100%;
  height: 60px;
  padding-left: $indent;
  padding-right: $indent;
  display: flex;
  align-items: center;
  margin-bottom: 130px;
  background: rgb(255, 180, 180);
  @media ($xxl) {
    width: 1120px;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
  }
  &__block1 {
    margin-right: 121px;
  }
  &__block3 {
    margin-left: auto;
  }
  &__logo {
    width: 49px;
    height: 35px;
  }
  &__links li {
    cursor: pointer;
    display: inline-block;
    margin-right: 40px;
    color: $text-grey;
    @extend %avenir-500;
    font-size: 16px;
    line-height: 160%;
  }
  li.navigation__links_active {
    @extend %avenir-800;
    color: $text-blue;
  }

  &__links li:nth-of-type(4) {
    margin-right: 0px;
  }

  &__button {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: $white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    padding: 17px 29px;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: $text-blue;
    @extend %avenir-800;
  }
  &__icon {
    width: 20px;
    height: 14px;
    vertical-align: middle;
    margin-left: 20px;
  }
}

.hero {
  position: relative;
  &__title {
    color: $text-blue;
    font-size: 80px;
    line-height: 110%;
    @extend %helvetica-700;
    margin-left: $indent;
    margin-bottom: 50px;
    max-width: 75%;
    @media ($md) {
      max-width: 60%;
    }
    @media ($xxl) {
      max-width: 100%;
      margin-left: 0;
    }
  }
  &__paragraph {
    color: $text-grey;
    font-size: 18px;
    line-height: 160%;
    @extend %avenir-500;
    margin-bottom: 50px;
    margin-left: $indent;
    max-width: 50%;
    @media ($xxl) {
      width: 380px;
      margin-left: 0px;
      max-width: 100%;
    }
  }
  &__button {
    color: $white;
    background: $purple;
    padding: 16px 37px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 160%;
    display: inline-block;
    margin-left: $indent;
    @extend %avenir-800;
    @media ($xxl) {
      margin-left: 0;
    }
  }
  & .content {
    background: rgb(83, 213, 218);
    margin-bottom: 50px;
    @media ($xxl) {
      width: 645px;
      margin-bottom: 0;
    }
  }

  & .image {
    text-align: center;
  }

  &__image {
    max-width: 75%;
    @media ($xxl) {
      width: 885px;
      max-width: 100%;
      position: absolute;
      top: 100px;
      right: 0;
    }
  }
}

.section-two {
  max-width: 80%;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  margin-bottom: 150px;
  @media ($xl) {
    margin: 0;
    margin-bottom: 150px;
    max-width: 1117px;
    height: 560px;
    flex-direction: row;
    padding: 0;
  }

  .image {
    order: 2;
    text-align: center;
    @media ($xl) {
      margin-right: 62px;
      order: 1;
    }
  }

  &__image {
    // background: rgb(207, 207, 207);
    max-width: 75%;
    @media ($lg) {
      width: 477px;
      max-width: 100%;
    }
  }

  .content {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media ($xl) {
      order: 2;
    }
  }

  &__title {
    color: $text-blue;
    @extend %helvetica-700;
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 30px;
    max-width: 70%;
    @media ($md) {
      max-width: 475px;
      font-size: 40px;
      line-height: 130%;
      margin-bottom: 40px;
    }
  }
  &__paragraph {
    color: $text-grey;
    @extend %avenir-500;
    font-size: 14px;
    line-height: 130%;
    max-width: 70%;
    @media ($md) {
      max-width: 469px;
      font-size: 18px;
      line-height: 160%;
    }
  }
}

.section-three {
  max-width: 90%;
  margin: 0 auto;
  padding: 30px;
  background: rgb(241, 241, 241);
  @media ($xl) {
    max-width: 1137.28px;
    height: 1026px;
    margin: 0;
    padding: 50px;
  }
  //////////////////////
  .content {
    text-align: center;
    margin-bottom: 50px;
    @media ($md) {
      margin-bottom: 100px;
    }
  }
  &__title {
    color: $text-blue;
    @extend %helvetica-700;
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 30px;
    @media ($md) {
      font-size: 40px;
      line-height: 130%;
      margin-bottom: 50px;
    }
  }
  &__paragraph {
    color: $text-grey;
    @extend %avenir-500;
    font-size: 14px;
    line-height: 130%;
    max-width: 360px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    @media ($md) {
      font-size: 18px;
      line-height: 160%;
      max-width: 584px;
      padding: 0;
    }
  }

  .features {
    background: rgba(156, 156, 156, 0.25);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    @media ($xl) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__feature {
    height: auto;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 33px;
    padding-right: 37.5px;
    padding-top: 25px;
    padding-left: 64.5px;

    @media ($md) {
      width: 442px;
      height: 358px;
      padding-bottom: 0px;
      padding-right: 50px;
      padding-left: 172px;
      padding-top: 49px;
    }
  }

  &__feature:nth-of-type(1) {
    background: url(../assets/img/section-3-rect-green.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    @media ($xl) {
      margin-bottom: 50px;
      margin-left: 50px;
      border-radius: 0;
    }
  }
  &__feature:nth-of-type(2) {
    background: url(../assets/img/section-3-rect-purple.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    @media ($xl) {
      margin-bottom: 50px;
      border-radius: 0;
    }
  }
  &__feature:nth-of-type(3) {
    background: url(../assets/img/section-3-rect-pink.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    @media ($xl) {
      border-radius: 0;
      margin-left: 50px;
    }
  }
  &__feature:nth-of-type(4) {
    background: url(../assets/img/section-3-rect-blue.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    @media ($xl) {
      border-radius: 0;
    }
  }
  &__feature-title {
    color: $text-blue;
    font-size: 16px;
    line-height: 100%;
    @extend %helvetica-400;
    margin-bottom: 14px;
    @media ($md) {
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 20px;
    }
  }
  &__feature-paragraph {
    color: $text-grey;
    @extend %avenir-400;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 14px;
    width: 80%;
    @media ($md) {
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 20px;
    }
  }

  &__feature-button {
    color: $text-blue;
    font-size: 12px;
    line-height: 130%;
    @extend %avenir-800;
    @media ($md) {
      position: absolute;
      bottom: 33px;
      font-size: 16px;
      line-height: 160%;
    }
  }

  &__feature-icon {
    width: 15px;
    height: 10.5px;
    vertical-align: middle;
    margin-left: 10px;
    @media ($md) {
      width: 20px;
      height: 14px;
      margin-left: 20px;
    }
  }
  &__feature-image {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    @media ($sm) {
      width: 40%;
    }
    @media ($md) {
      position: absolute;
      top: 50%;
      left: -80px;
      transform: translate(0, -50%);
      margin-bottom: 0;
      display: inline;
    }
  }
}
///////////////////////////////////////
.section-four {
  width: 1118px;
  height: 709px;
  background: rgb(219, 219, 219);
}

.section-five {
  width: 1600px;
  height: 613px;
  background: rgb(219, 219, 219);
}
