//Body
$body-width: 1600px;
$body-height: 4350px;
$indent: 12px;
//Colors
$white: #fff;
$body-grey: #f6fafd;
$text-blue: #212353;
$text-grey: #4b5d68;
$purple: #9c69e2;
$pink: #f063b8;
$section-2-bg: $pink;
$section-3-green: rgba(104, 201, 186, 0.1);
$section-3-purple: rgba(156, 105, 226, 0.1);
$section-3-pink: rgba(240, 99, 184, 0.1);
$section-3-blue: rgba(45, 156, 219, 0.1);

//Breakpoints
$sm: "min-width: 576px";
$md: "min-width: 768px";
$lg: "min-width: 992px";
$xl: "min-width: 1200px";
$xxl: "min-width: 1400px";
$xxxl: "min-width: 1600px";

//Fonts
$stack-sans-serif: Arial, Helvetica, sans-serif;
$stack-helvetica: "Helvetica Neue", $stack-sans-serif;
$stack-avenir: "Avenir", $stack-sans-serif;
