// Colors
$white: #fff;
$body-grey: #f6fafd;

//Breakpoints
$sm: "min-width: 576px";
$md: "min-width: 768px";
$lg: "min-width: 992px";
$xl: "min-width: 1200px";
$xxl: "min-width: 1400px";

//Fonts
$stack-sans-serif: Arial, Helvetica, sans-serif;
$stack-helvetica: "Helvetica Neue", $stack-sans-serif;
$stack-avenir: "Avenir", $stack-sans-serif;
