//Colors
$white: #fff;
$body-grey: #f6fafd;
$text-blue: #212353;
$text-grey: #4b5d68;
$purple: #9c69e2;
$pink: #f063b8;
$section-2-bg: $pink;
$section-3-green: #68c9ba;
$section-3-purple: $purple;
$section-3-pink: $pink;
$section-3-blue: #2d9cdb;

//Breakpoints
$sm: "min-width: 576px";
$md: "min-width: 768px";
$lg: "min-width: 992px";
$xl: "min-width: 1200px";
$xxl: "min-width: 1400px";

//Fonts
$stack-sans-serif: Arial, Helvetica, sans-serif;
$stack-helvetica: "Helvetica Neue", $stack-sans-serif;
$stack-avenir: "Avenir", $stack-sans-serif;
